/*****************************************
 * ROOT ELEMENT
 *****************************************/

#root {
    -fx-background-image: url("../images/backgrounds/background.jpg");
    -fx-background-size: cover;
}

/*****************************************
 * MENU
 *****************************************/

/* General menu styles */
.menu-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-end-margin: 25px;
}

.menu-combo-box {
    -fx-background-color: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 1, 0, 2, 2);
}

/* Specific menu styles */
#game-title {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10px;
}

#game-duration-slider {
    -fx-padding: 0 20px;
}

#start-game-button {
    -fx-background-color: #fff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 1, 0, 2, 2);
    -fx-padding: 10px 30px;
}

/*****************************************
 * GAME PANE
 *****************************************/

#game-pane {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

/* Styles applied to squares */
#game-pane * {
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
}

/*****************************************
 * SCORE LABEL
 *****************************************/

#score-label {
    -fx-background-color: #fff;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 1, 0, 0, -1);
}